<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
    <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
    <property name="hibernate.connection.url">jdbc:oracle:thin:@172.16.1.38:1521:Desarrollo</property>
    <property name="hibernate.connection.username">Postgrado</property>
    <property name="hibernate.connection.password">PostgDDI</property>
    <!--<property name="hibernate.connection.datasource">jdbc/postgrados</property>-->
    <property name="hibernate.show_sql">false</property>
    <!--property name="hibernate.current_session_context_class">thread</property-->
    <property name="hibernate.use_sql_comments">false</property>
    <!--las siguiente mapeos son para los menus se tomaron identicos desde los otros proyectos-->
    <mapping resource="datos/pojos/adminuc/RolesUsuarios.hbm.xml"/>
    <mapping resource="datos/pojos/adminuc/Roles.hbm.xml"/>
    <mapping resource="datos/pojos/adminuc/Usuarios.hbm.xml"/>
    <mapping resource="datos/pojos/adminuc/MenusRoles.hbm.xml"/>
    <mapping resource="datos/pojos/adminuc/Menus.hbm.xml"/>
    <mapping resource="datos/pojos/adminuc/PermisosMenus.hbm.xml"/>
    <mapping resource="datos/pojos/adminuc/Accesos.hbm.xml"/>
    <mapping resource="datos/pojos/adminuc/ValidacionLogin.hbm.xml"/>
    <mapping resource="datos/pojos/adminuc/Fotos.hbm.xml"/>
    <mapping resource="datos/pojos/adminuc/PrtTiposDiscapacidad.hbm.xml"/>
    <mapping resource="datos/pojos/adminuc/PrtDiscapacitados.hbm.xml"/>
    <mapping resource="datos/pojos/adminuc/PrtPersonasDiscapacidades.hbm.xml"/>
    <mapping resource="datos/pojos/adminuc/EspaciosFisicos.hbm.xml"/>
    <mapping resource="datos/pojos/adminuc/PrtParentescos.hbm.xml"/>
    <mapping resource="datos/pojos/adminuc/PrtDiscapacidadesFamiliares.hbm.xml"/>
    <mapping resource="datos/pojos/adminuc/PrtParientesDiscapacitados.hbm.xml"/>
    <!--
        <mapping resource="datos/pojos/adminuc/AccesosUsuarios.hbm.xml"/>
        <mapping resource="datos/pojos/adminuc/TiposInstituciones.hbm.xml"/>-->
    <!--MAPEOS ADMINUC-->
    <mapping resource="datos/pojos/adminuc/NivelesFormacion.hbm.xml"/>
    <mapping resource="datos/pojos/adminuc/Titulos.hbm.xml"/>
    <mapping resource="datos/pojos/adminuc/Dependencias.hbm.xml"/>
    <mapping resource="datos/pojos/adminuc/SgpInstituciones.hbm.xml"/>
    <mapping resource="datos/pojos/adminuc/InstitucionesEducativas.hbm.xml"/>
    <mapping resource="datos/pojos/adminuc/Ubicaciones.hbm.xml"/>
    <mapping resource="datos/pojos/adminuc/PersonasNaturales.hbm.xml"/>
    <mapping resource="datos/pojos/adminuc/Personas.hbm.xml"/>
    <mapping resource="datos/pojos/adminuc/PersonasJuridicas.hbm.xml"/>
    <mapping resource="datos/pojos/adminuc/TiposDocumentosid.hbm.xml"/>
    <mapping resource="datos/pojos/adminuc/TiposTelefonos.hbm.xml"/>
    <mapping resource="datos/pojos/adminuc/TelefonosPersonas.hbm.xml"/>
    <mapping resource="datos/pojos/adminuc/ListaEntidades.hbm.xml"/>
    <mapping resource="datos/pojos/adminuc/ListasDistribucion.hbm.xml"/>
    <mapping resource="datos/pojos/adminuc/TitulosProfesionales.hbm.xml"/>
    <mapping resource="datos/pojos/adminuc/PerNatIdentificacion.hbm.xml"/>
    <!--MAPEOS ACADEMICO-->
    <mapping resource="datos/pojos/academico/SgaModalidades.hbm.xml"/>
    <mapping resource="datos/pojos/academico/SgaAreasConocimiento.hbm.xml"/>
    <mapping resource="datos/pojos/academico/SgaPeriodosLectivos.hbm.xml"/>
    <!--MAPEOS SOCIOECONOMICO-->
    <!--<mapping resource="datos/pojos/sgse/VstCuotasCaducadas.hbm.xml"/>
    <mapping resource="datos/pojos/sgse/VstPlaFinCanCob.hbm.xml"/>
    <mapping resource="datos/pojos/sgse/VstEmisionesBanco.hbm.xml"/>-->
    <mapping resource="ec/edu/ucuenca/gestionse/accesoDatos/modelo/AmbitosServicios.hbm.xml"/>
    <mapping resource="ec/edu/ucuenca/gestionse/accesoDatos/modelo/FormulasCostos.hbm.xml"/>
    <mapping resource="ec/edu/ucuenca/gestionse/accesoDatos/modelo/NivelesAcademicos.hbm.xml"/>
    <mapping resource="ec/edu/ucuenca/gestionse/accesoDatos/modelo/Emisiones.hbm.xml"/>
    <mapping resource="ec/edu/ucuenca/gestionse/accesoDatos/modelo/Cuentas.hbm.xml"/>
    <mapping resource="ec/edu/ucuenca/gestionse/accesoDatos/modelo/DetallesCuota.hbm.xml"/>
    <mapping resource="ec/edu/ucuenca/gestionse/accesoDatos/modelo/FormulasParametros.hbm.xml"/>
    <mapping resource="ec/edu/ucuenca/gestionse/accesoDatos/modelo/CanalesCobro.hbm.xml"/>
    <mapping resource="ec/edu/ucuenca/gestionse/accesoDatos/modelo/Parametros.hbm.xml"/>
    <mapping resource="ec/edu/ucuenca/gestionse/accesoDatos/modelo/ConfiguracionDesrec.hbm.xml"/>
    <mapping resource="ec/edu/ucuenca/gestionse/accesoDatos/modelo/Cuotas.hbm.xml"/>
    <mapping resource="ec/edu/ucuenca/gestionse/accesoDatos/modelo/Formulas.hbm.xml"/>
    <mapping resource="ec/edu/ucuenca/gestionse/accesoDatos/modelo/TiposProceso.hbm.xml"/>
    <mapping resource="ec/edu/ucuenca/gestionse/accesoDatos/modelo/PrefijacionesDesrec.hbm.xml"/>
    <mapping resource="ec/edu/ucuenca/gestionse/accesoDatos/modelo/Configuracion.hbm.xml"/>
    <mapping resource="ec/edu/ucuenca/gestionse/accesoDatos/modelo/Costos.hbm.xml"/>
    <mapping resource="ec/edu/ucuenca/gestionse/accesoDatos/modelo/PlanesDisponibles.hbm.xml"/>
    <mapping resource="ec/edu/ucuenca/gestionse/accesoDatos/modelo/ConceptosMovimiento.hbm.xml"/>
    <mapping resource="ec/edu/ucuenca/gestionse/accesoDatos/modelo/ParametrosGenerales.hbm.xml"/>
    <mapping resource="ec/edu/ucuenca/gestionse/accesoDatos/modelo/ParametrosSistema.hbm.xml"/>
    <mapping resource="ec/edu/ucuenca/gestionse/accesoDatos/modelo/CostosCuotas.hbm.xml"/>
    <mapping resource="ec/edu/ucuenca/gestionse/accesoDatos/modelo/FormulaPuntaje.hbm.xml"/>
    <mapping resource="ec/edu/ucuenca/gestionse/accesoDatos/modelo/FechaCaducidad.hbm.xml"/>
    <mapping resource="ec/edu/ucuenca/gestionse/accesoDatos/modelo/ObservacionesMovCuentas.hbm.xml"/>
    <mapping resource="ec/edu/ucuenca/gestionse/accesoDatos/modelo/MovimientosCuentas.hbm.xml"/>
    <mapping resource="ec/edu/ucuenca/gestionse/accesoDatos/modelo/CuentasParametros.hbm.xml"/>
    <mapping resource="ec/edu/ucuenca/gestionse/accesoDatos/modelo/DescuentosRecargos.hbm.xml"/>
    <mapping resource="ec/edu/ucuenca/gestionse/accesoDatos/modelo/ConceptosCobro.hbm.xml"/>
    <mapping resource="ec/edu/ucuenca/gestionse/accesoDatos/modelo/DetallesCuenta.hbm.xml"/>
    <mapping resource="ec/edu/ucuenca/gestionse/accesoDatos/modelo/PeriodosRegistro.hbm.xml"/>
    <mapping resource="ec/edu/ucuenca/gestionse/accesoDatos/modelo/DetalleEmisiones.hbm.xml"/>
    <mapping resource="ec/edu/ucuenca/gestionse/accesoDatos/modelo/PlanesFinanciamiento.hbm.xml"/>
    <mapping resource="ec/edu/ucuenca/gestionse/accesoDatos/modelo/PlanesCuenta.hbm.xml"/>
    <mapping resource="ec/edu/ucuenca/gestionse/accesoDatos/modelo/ConfigForpuntaje.hbm.xml"/>
    <mapping resource="ec/edu/ucuenca/gestionse/accesoDatos/modelo/TiposConcob.hbm.xml"/>
    <mapping resource="ec/edu/ucuenca/gestionse/accesoDatos/modelo/CostosFechapago.hbm.xml"/>
    <mapping resource="ec/edu/ucuenca/gestionse/accesoDatos/modelo/CostosRecPlanfin.hbm.xml"/>
    <!--mapeo de el esquema de postgrados-->
    <mapping resource="datos/pojos/sgap/SgpRegistrosDefinitivos.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpPresupuestoUnidades.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpComponentes.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpFormasEvaluacion.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpSilaboCabeceras.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpEquivalencias.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpEvaluacionesAportes.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpMatriculas.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpEjesTematicos.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpActividadesCronograma.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpActividadesTitulacion.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpComponentesCabeceras.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpCursosEstudiantes.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpLineasInvestigacion.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpMenciones.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpSilaboComponentes.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpResolucionesSenescyt.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpParametrosCurso.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpSilaboDetalles.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpAreasConocimiento.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpInstitucionesCurso.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpDocumentosAutorizacion.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpFormasAprobacion.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpInscripciones.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpAsignaturas.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpPlanesCurso.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpPlanesModalidades.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpAutorizaciones.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpTrabajosTitulacion.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpPresupuestoValores.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpOfertaDocentes.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpOfertaAsignatura.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpEvaluacionesEstados.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpParametros.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpSubareas.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpPresupuestoRubros.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpAsignaturasMallas.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpDocumentosBinarios.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpSecciones.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpTiposDuracion.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpComponentesDetalles.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpParametrosPeriodos.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpComponentesPlanes.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpMallas.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpEquipoResponsable.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpPresupuestoCabeceras.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpActividadesOfertas.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpDocentesAsignaturas.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpTrabajoPersonas.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpDirectoresCurso.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpRegistrosAportes.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpEdiciones.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpCursosPostgrado.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpHorariosDocentes.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpRegistrosCabeceras.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpEjesFormacion.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpTemas.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpMencionesAsignaturas.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpSilabos.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpMatriculasAsignaturas.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpHorariosOfertas.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/VstAccesosPath.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpTiposProcesos.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpUnidadesCabecera.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpUnidadesOrganizacion.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpUnidadesMalla.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpInstitucionesJuridicas.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpFinanciamiento.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpActasConfiguraciones.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpActaAutorizacion.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpActaEstudianteDetalle.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpActaEstudiante.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpActas.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpTesisProrroga.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpTesisTribunal.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpTesis.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpTesisEstudiante.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpTesisAnulacion.hbm.xml"/>
    <mapping resource="datos/pojos/sgap/SgpTesisAvance.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
